<!DOCTYPE html>
</table>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="post" action="{{ url_for('ejercicio2') }}">
        <h1>Inicio de sesión</h1>
        <label>Ingresa tu nombre <input type="text" name="nombre" required></label><br>
        <label>Ingresa tu contraseña <input type="password" name="contraseña" required></label><br>
        <input type="submit" value="Verificar">
    </form>
<h1>{{ mensaje }}</h1>
</body>
</html>

