<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-menu">
        <button class="menu-button1" onclick="location.href='{{ url_for('ejercicio1') }}'">Ejercicio 1</button>
        <button class="menu-button2" onclick="location.href='{{ url_for('ejercicio2') }}'">Ejercicio 2</button>
        <div class="main-menu">
  </body>
</html>